doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/customer_purchase.css')
    link(href='https://fonts.googleapis.com/css?family=Raleway&display=swap', rel='stylesheet')
    script(src='/javascripts/jquery.js', type='module' defer)
    script(src='/javascripts/app.js', type='module' defer)
    title Customer Purchase
  body
    #purchaseBox
        button#backButton &#8592 Back to Purchases 
        h1 Purchase Type:  
        form(action='/customer/purchase/' + customer._id + '/confirmPurchase' method='post')
            #purchaseTypeDiv
                #debit       
                    input(type='radio' name='purchaseType' value='Debit')
                    label(for='debit') Debit
                #credit
                    input(type='radio' name='purchaseType' value='Credit')
                    label(for='credit') Credit
                #cash
                    input(type='radio' name='purchaseType' value='Cash')
                    label(for='cash') Cash

            input(type='submit' value='Enter Purchase')
    #container
        #cartSide
            if customer.customerInfo.firstName != 'Anonymous'
                h1 #{customer.customerInfo.firstName} #{customer.customerInfo.lastName}
                h3 Age: #{customer.customerInfo.age}
            else
                h2 #{customer.customerInfo.firstName} Customer
            h3 Purchases
            #tableContainer
                table#purchaseTable
                    colgroup
                        col(width='40%')
                        col(width='20%')
                        col(width='20%')
                        col(width='20%')
                    tr
                        th Item Name
                        th Quantity
                        th Price
                        th
                    - var totalCartPrice = 0;
                    tbody: each item, i in customer.itemCart
                        - totalCartPrice += item.totalPrice
                        tr
                            if customer.itemCart != null
                                th #{item.itemName}
                                th 
                                    form#updateQuantity(action='/customer/purchase/' + customer._id + '/updateQuantity' method='post')
                                        input#quantity(name='quantity' value='' + item.quantity type='number' min='1' max='16')

                                        input.hidden#itemID(type='hidden' name='itemID' value='' + item._id)
                                        input.hidden#itemName(type='hidden' name='itemName' value='' + item.itemName)
                                        input.hidden#itemPrice(type='hidden' name='itemPrice' value='' + item.itemPrice)
                                        input.hidden#itemType(type='hidden' name='itemType' value='' + item.itemType)
                                th $#{item.totalPrice}
                                th 
                                    form#deleteItem(action='/customer/purchase/' + customer._id + '/deleteItem' method='post')
                                        input.hidden#itemID(name='itemID' value='' + item._id)
                                        input(class='type' + item.itemType type='submit' value='Delete')
                    tfoot
                    tr
                        th
                        th Total:
                        th#totalPrice $#{totalCartPrice}
                        th
            button#confirmCart Enter Purchase
        .tab
            button#passesTab.tabLinks.active Passes
            button#membershipsTab.tabLinks Memberships
            button#foodTab.tabLinks Food
            button#gearTab.tabLinks Gear
        #tabSide
            #passes.tabContent: each passItem, i in passItems
                form#item(action='/customer/purchase/' + customer._id + '/addToCart' method='post')
                    h3 #{passItem.itemName}   
                    h3 $#{passItem.itemPrice}
                    input.hidden#passItemID(name='itemID' value='' + passItem._id)
                    input.hidden#passItemName(name='itemName' value='' + passItem.itemName)
                    input.hidden#passItemPrice(name='itemPrice' value='' + passItem.itemPrice)
                    input.hidden#passItemType(name='itemType' value='' + passItem.itemType)
                    input(class='type' + passItem.itemType type='submit' value='Add to cart')
            #memberships.tabContent
            #food.tabContent
            #gear.tabContent